[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/gasparch/vim-elixir
[submodule "bundle/vim-desert-programming"]
	path = bundle/vim-desert-programming
	url = https://github.com/gasparch/vim-desert-programming.git
[submodule "bundle/vim-plugin-AnsiEsc"]
	path = bundle/vim-plugin-AnsiEsc
	url = https://github.com/powerman/vim-plugin-AnsiEsc.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/alchemist.vim"]
	path = bundle/alchemist.vim
	url = https://github.com/slashmili/alchemist.vim.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/tmhedberg/matchit
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "extras/elixir-ctags"]
	path = extras/elixir-ctags
	url = https://github.com/gasparch/elixir-ctags.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/gasparch/tagbar.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "bundle/ctrlp-tagbar.vim"]
	path = bundle/ctrlp-tagbar.vim
	url = https://github.com/gasparch/ctrlp-tagbar.vim.git
[submodule "bundle/vim-elixir-fold"]
	path = bundle/vim-elixir-fold
	url = https://github.com/gasparch/vim-elixir-fold
[submodule "bundle/vim-sleuth"]
	path = bundle/vim-sleuth
	url = https://github.com/tpope/vim-sleuth.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-elixir-exunit"]
	path = bundle/vim-elixir-exunit
	url = https://github.com/gasparch/vim-elixir-exunit.git
